<div class="navbar">
  <div class="logo-left">
    {{#link-to 'index'}}
    {{fa-icon "whatsapp"}} ChattyApp
    {{/link-to}}
  </div>
  <div class="logo-right">
    {{fa-icon "user"}} {{session.data.authenticated.user.username}}
  </div>
</div>
{{#each session.data.authenticated.user as |user|}}
{{user.username}}
{{/each}}

{{!-- {{debugger}} --}}

{{outlet}}

<div class="footer">
  <h6 class="footer-txt">
    {{fa-icon "copyright"}} Copyright Chatty International, Inc. 2016
  </h6>
</div>
